/* variables */
body {
    font-family: Roboto, sans-serif;
}

.splash {
    /* margin: 0;
    padding: 0; */
    background-image:url('https://images2.minutemediacdn.com/image/upload/c_fill,w_720,ar_16:9,f_auto,q_auto,g_auto/shape/cover/sport/64488-gettyimages-155376463-8998e5b17fa838e284c7f292f76b3fa4.jpg');
    background-size: cover;
    background-position: center; 
}



/* ids */

#desInfo {
    position: relative;
    top: 469px;
}

#centerIcon {
    line-height:1;
}

#alignIcon {
    position: relative;
    bottom: 20px;
}

#align {
    margin: 0;
    position: relative;
    bottom: 100px;
}

#appTitle {
    position: relative;
    left: 200;
    font-size: 30;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#str-btn {
    height: 71vh;
}

#weather-area {
}

#aside {
    height: 100vh;
    margin-top: 15px;
}

#section {
    height:100vh;
}

#info {
    width: 72vw;
    height: 20%;
    align-items: flex-end;
    justify-content: end;
}

/* classes */

.row {
}

.map {
    height: 60%;
}

.mapboxgl-marker:hover {
    cursor: pointer;
}

.nav-weather {
    width: 152px;
}

.collapsible-header {
    max-height: 57px;
}

.material-icons {
    position: relative;
}

.activities {
    padding: 15px;
    margin: 7px;
    height: 79%;
}

.splash {
    background-image:url('https://images2.minutemediacdn.com/image/upload/c_fill,w_720,ar_16:9,f_auto,q_auto,g_auto/shape/cover/sport/64488-gettyimages-155376463-8998e5b17fa838e284c7f292f76b3fa4.jpg');
    background-size: cover;
}