/* variables */


/* Global */
body {
    margin: 0;
    padding: 0;
}

/* ids */
#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#weather-area {
    height: 50%;
    border: .1rem solid black;
}

/* classes */

