body {
    background-image:url('https://images2.minutemediacdn.com/image/upload/c_fill,w_720,ar_16:9,f_auto,q_auto,g_auto/shape/cover/sport/64488-gettyimages-155376463-8998e5b17fa838e284c7f292f76b3fa4.jpg');
    background-size: cover;
}

#str-btn {
    height: 100vh;
}

.row {
    margin:0;
    position: fixed;
    bottom: 10%;
}